* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(15, 15, 15);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.container h1 {
  margin: 3rem 0 2rem 0;
  font-weight: bolder;
  font-size: 2.75rem;
}

.container p {
  font-weight: bolder;
  font-size: 1.5rem;
}

.pads {
  background-color: lightblue;
  width: 100%;
  display: flex;
}

.pads > div {
  height: 100px;
  width: 100px;
  flex: 1;
}

.pad1 {
  background-color: #f85d5d;
}

.pad2 {
  background-color: #73ff73;
}

.pad3 {
  background-color: #b8860b;
}

.pad4 {
  background-color: #348bbd;
}

.pad5 {
  background-color: #635ae7;
}

.pad6 {
  background-color: #d472e7;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }

  50% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: 0%;
    left: 80%;
  }
}

.visual > div {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0%;
  z-index: -1;
}
